/*all these classes are made to be added to their respective element in css, emulating bootstrap*/
.heroMainText{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.heroSecText{
    font-size: 18px;
    color: #E5E7EB;
}

.headerLogoText{
    font-size: 24px;
    color: #F9FAF8;
}

.infoHeaderText{
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.buttonColor{
    background-color: #3882F6;
}

.quoteSectBGColor{
    background-color: #E5E7EB;
}

.quoteText{
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1F2937;
}

body{
    margin: 0;
    padding: 0;
}

nav{
    background-color: #1F2937;
    height: 5vh;
}

nav li{
    list-style: none;
    line-height: 5vh;
}

nav p{
    text-align: middle;
    line-height: 5vh;
}

nav a:link{
    text-decoration: none;
    color: #E5E7EB;
}

nav a:hover{
    color: #E5E7EB;
}

nav a:active{
    color: #F9FAF8;
}

nav a:visited{
    color: #E5E7EB;
}